@import url('./reset.css');

body {
  margin: 0 32px 0 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 20px;
  text-align: center;
}

input[type="text"] {
  padding: 0 16px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

input[type="text"] :hover {
  border: 1px solid #000000;
}

input[type="text"] :focus {
  border: 1px solid #4E75FF;
}

button {
  width: 92px;
  padding: 8px 16px;
  border: 1px solid #4E75FF;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  opacity: 0.8;
  background-color: #6C8CFF;
  border: 1px solid #6C8CFF;
}

.btn {
  width: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background-color: #4E75FF;
  border: #4E75FF;
}

.btn.is-hidden {
  display: none;
}

.spinner.is-hidden {
  display: none;
}

.loader {
  padding-top: 24px;
  text-align: center;
  color: #2E2F42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-block;
  margin-left: 10px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery a {
  margin: 10px;
  text-decoration: none;
  color: inherit;
}

.gallery img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}

.gallery-item {
  border: 1px solid #000000;
}

.image-info {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.img-info-item {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

#load-more {
  margin-top: 10px;
}

.is-loading {
  display: inline-block;
}